@font-face {
    font-family: '이쁜폰트';
    src: url(../font/NanumSquareR.woff);
}

html {
    line-height: 1.15;
}

body {
    margin: 0px;
    font-family: '이쁜폰트';
    /*    font-family: 'Roboto Condensed', sans-serif;*/
}

/*안티앨리어싱 작업*/
p,
h4,
h3,
h2,
h1,
span {
    transform: rotate(0.03deg);
}

div {
    box-sizing: border-box;
}

input[type=email] {
    width: 500px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid grey;
}

input[type=text] {
    width: 200px;
    height: 35px;
    border: 2px solid grey;
    border-radius: 5px;
}

.custom-btn {
    /*    width: 130px;*/
    height: 40px;
    top: 100px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 120px;
    top: 350px;
    /*    display: inline-block;*/
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* 15 */
.btn-15 {
    background-color: rgb(159, 84, 32, .3);
    border: none;
    z-index: 1;
}

.btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: rgb(159, 84, 32, .5);
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
}

.btn-15:hover {
    color: #fff;
}

.btn-15:hover:after {
    left: 0;
    width: 100%;
}

.btn-15:active {
    top: 2px;
}

/* 15 */

.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.jpg);
    background-size: cover; //div박스에 꽉차게 함
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
    position: relative;
}

.main-background h4 {
    text-align: center;
}

.main-title {
    color: white;
    font-size: 40px;

}

.main-content {
    color: aliceblue;
    font-weight: 200;
    margin-top: 100px;
}

.sub-background {
    background-color: rgba(204, 204, 204, 0.8);
    max-width: 800px;
    width: 70%;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -100px;
}

.sub-background h4 {
    color: aliceblue;
}

.sub-background p {
    color: aliceblue;
}

.text-input {
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.form-background {
    background-color: beige;
    width: 700px;
    height: 800px;
    padding: 80px;
    left: 0;
    right: 0;
    margin: auto;
}

.form-background h4 {
    color: rgba(102, 102, 102, 0.9);
}

.form-outline h4 {
    margin: 5px;
}

.background {
    background-color: aliceblue;
}

.form-outline div {
    margin-top: 10px;
}

.btn {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: coral;
    color: white;
    cursor: pointer;
}

/* hover -> focus -> active 순으로 */
/* hover :마우스를 올렸을 때 변경*/
.btn:hover {
    background-color: chocolate;
}

/* focus : 마우스를 누른 뒤 상태 변경*/
.btn:focus {
    background-color: gray;
}

/* active : 마우스를 누르고 있을 때 변경*/
.btn:active {
    background-color: brown;
}



.input-test {
    font-size: 20px;

}

.input-test:focus {
    border: 6px solid red;
}

.custom-link {
    text-decoration: none;
}

.custom-link:link {
    color: red;
}

.custom-link:visited {
    color: green;
}

.form-title {
    font-size: 35px;
}

.form-textarea {
    width: 92%;
    height: 300px;
}

.form-subscribe_box {
    margin-top: 25px;
    float: left;
}

.form-input {
    height: 15px;
    width: 15px;
}

.form-send {
    width: 95px;
    height: 40px;
    position: relative;
    right: -310px;
}

/*어려웠던 부분*/
.nav-container {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 10px;
    background-color: #FF7678;
}

.nav-item {
    margin-right: 10px;
    color: aliceblue;
}

.logo {
    font-size: 40px;
    font-weight: 600;
}

.second {
    font-size: 25px;

}

.test-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.test-container div {
    /*    margin-right: 10px;*/
}

/*셀렉터*/
.test-container div > h4 + p {
    color: black;
}


.product-container {
    width: 100%;
    /*    max-width: 1000px;*/
    margin: 50px 0px 50px 0px;
}

.product-container div {
    float: left;
    width: 25%;
    text-align: center;

}

/*1200px이하일 경우 클래스 적용*/
@media screen and (max-width:992px) {
    .test-container {
        flex-wrap: wrap;
    }

    .test-container div {
        width: 370px;
        height: 120px;
        text-align: center;
        /*        align-items: center;*/
    }

    .product-container {
        max-width: 100%;
    }

    .product-container div {
        width: 50%;
    }

}

@media screen and (max-width:768px) {
    .product-container div {
        width: 100%;
    }
}

@media screen and (max-width:576px) {}

.product-container i {
    background-color: burlywood;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding-top: 25px;
    box-sizing: border-box;
    color: white;
    margin-top: 20px;
}

.shop-bg {
    background-color: #eee;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
}

.shop-container {
    display: flex;
    width: 90%;
    margin: auto;
}

.shop-item {
    width: 33%;
    padding: 10px;
}

.shop-item img {
    width: 100%;
    display: block;
}

/*
1.시작스타일 만들기
2.최종스타일 만들기
3.언제 최종으로 변경됨
4.transition
*/

/*
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    color: aliceblue;
    font-size: 60px;
    text-align: center;
    opacity: 0;
    transition 위의 스타일이 변하면 1초를 걸쳐 변경되도록 함 transition: all 1s;
}

.overlay:hover {
    opacity: 0.5;
}
*/

.overlay-wap {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.overlay-wap:hover .overlay-black {
    margin-top: 50%;
}

.overlay-black {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 100%;
    transition: all 1s;
    color: aliceblue;
    font-size: 60px;
    text-align: center;
}

.wap {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.overlay-two {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.overlay-two:hover .overlay-white {
    margin-top: 50%;
}

.overlay-white {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 100%;
    transition: all 1s;

}

.overlay-three {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.overlay-three:hover .overlay-yellow {
    margin-top: 50%;
}

.overlay-yellow {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 100%;
    transition: all 1s;
}

.custom {
    color: red;
}



.ani-text {
    text-align: center;
}

.ani-text:hover {
    animation-name: 왔다갔다;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes 왔다갔다 {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-100px);
    }

    75% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0px);
    }
}

.shakebutton {
    background-color: #87CEEB;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 80px;
    color: white;
}

.shake-box {
    width: 80px;
    height: 100%;
    margin: auto;
}

.shake-box:hover {
    animation-name: 흔들흔들;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes 흔들흔들 {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-8deg);
    }

    50% {
        transform: rotate(8deg);
    }

    75% {
        transform: rotate(-8deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

.ani-x {
    margin: 50px auto;
    text-align: center;
    font-size: 50px;
    width: 84px;
    cursor: pointer;
}

.ani-x:hover {
    animation-name: turn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes turn {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(45deg) scale(1.5);
    }
}

.ani-box {
    width: 200px;
    background: black;
    color: white;
    height: 100%;
    padding: 25px;
    position: fixed;
    z-index: 5;
    text-align: right;
    top: 0;
    left: 0;
    right: 0;
    text-align: right;
    transition: all 2s;
    transform: translateX(-150px);
}

.ani-box:hover {
    transform: translateX(0px);
    text-align: center;
}

@keyframes slide {
    0% {
        transform: translateX(-250px)
    }

    50% {
        transform: translateX(50px) skewX(-30deg)
    }

    100% {
        transform: translateX(0px)
    }
}

.ani-box:hover p {
    animation-name: slide;
    animation-duration: 1s;
    color: aliceblue;
}

.test1 {
    color: red;
}
